<back-to-top class="back-to-top block fixed opacity-0 visibility-hidden">
  <button
    on:click="/backToTop"
    class="btn btn--primary btn--medium btn--icon-only"
  >
    {% render 'icon', icon: 'arrow-up' %}
  </button>
</back-to-top>
