<div class="article__block article__content rte" {{ block.shopify_attributes }}>
  {{ article.content }}
</div>

{% schema %}
{
  "name": "t:names.content",
  "tag": null,
  "presets": []
}
{% endschema %}
