{%- liquid
  assign icon_block_class = 'icon-block__media icon-block-' | append: block.id
-%}
<div
  class="icon-block flex"
  {{ block.shopify_attributes }}
>
  {% render 'icon-or-image',
    icon: block.settings.icon,
    image_upload: block.settings.image_upload,
    class_name: icon_block_class,
    width: block.settings.width,
    width_mobile: block.settings.width_mobile,
    icon_size: block.settings.icon_size
  %}
</div>
{% schema %}
{
  "name": "t:names.icon",
  "tag": null,
  "settings": [
    {
      "type": "select",
      "id": "icon",
      "label": "t:settings.icon",
      "options": [
        {
          "value": "caret-left",
          "label": "t:options.caret_left"
        },
        {
          "value": "caret-right",
          "label": "t:options.caret_right"
        },
        {
          "value": "caret-down",
          "label": "t:options.caret_down"
        },
        {
          "value": "arrow-up-left",
          "label": "t:options.arrow_up_left"
        },
        {
          "value": "arrow-up-left-down",
          "label": "t:options.arrow_up_left_down"
        },
        {
          "value": "close",
          "label": "t:options.close"
        },
        {
          "value": "plus",
          "label": "t:options.plus"
        },
        {
          "value": "minus",
          "label": "t:options.minus"
        },
        {
          "value": "check",
          "label": "t:options.check"
        },
        {
          "value": "cart",
          "label": "t:options.cart"
        },
        {
          "value": "basket",
          "label": "t:options.basket"
        },
        {
          "value": "shopping-bag",
          "label": "t:options.shopping_bag"
        },
        {
          "value": "heart-beat",
          "label": "t:options.heart_beat"
        },
        {
          "value": "baby-carriage",
          "label": "t:options.baby_carriage"
        },
        {
          "value": "account",
          "label": "t:options.account"
        },
        {
          "value": "search",
          "label": "t:options.search"
        },
        {
          "value": "tag",
          "label": "t:options.tag"
        },
        {
          "value": "chat-teardrop",
          "label": "t:options.chat_teardrop"
        },
        {
          "value": "credit-card",
          "label": "t:options.credit_card"
        },
        {
          "value": "barcode",
          "label": "t:options.barcode"
        },
        {
          "value": "storefront",
          "label": "t:options.storefront"
        },
        {
          "value": "package",
          "label": "t:options.package"
        },
        {
          "value": "magic-wand",
          "label": "t:options.magic_wand"
        },
        {
          "value": "funnel",
          "label": "t:options.funnel"
        },
        {
          "value": "phone",
          "label": "t:options.phone"
        },
        {
          "value": "map-pin",
          "label": "t:options.map_pin"
        },
        {
          "value": "clock",
          "label": "t:options.clock"
        },
        {
          "value": "lightning",
          "label": "t:options.lightning"
        },
        {
          "value": "heart",
          "label": "t:options.heart"
        },
        {
          "value": "gift",
          "label": "t:options.gift"
        },
        {
          "value": "globe",
          "label": "t:options.globe"
        },
        {
          "value": "car-simple",
          "label": "t:options.car_simple"
        },
        {
          "value": "truck",
          "label": "t:options.truck"
        },
        {
          "value": "paper-plane",
          "label": "t:options.paper_plane"
        },
        {
          "value": "waves",
          "label": "t:options.waves"
        },
        {
          "value": "calendar-blank",
          "label": "t:options.calendar_blank"
        },
        {
          "value": "umbrella",
          "label": "t:options.umbrella"
        },
        {
          "value": "circle-half",
          "label": "t:options.circle_half"
        },
        {
          "value": "bell-ringing",
          "label": "t:options.bell_ringing"
        },
        {
          "value": "tiktok",
          "label": "t:options.tiktok"
        },
        {
          "value": "instagram",
          "label": "t:options.instagram"
        },
        {
          "value": "pinterest",
          "label": "t:options.pinterest"
        },
        {
          "value": "x",
          "label": "t:options.x"
        },
        {
          "value": "facebook",
          "label": "t:options.facebook"
        },
        {
          "value": "telegram",
          "label": "t:options.telegram"
        },
        {
          "value": "whatsapp",
          "label": "t:options.whatsapp"
        },
        {
          "value": "email",
          "label": "t:options.email"
        },
        {
          "value": "linkedin",
          "label": "t:options.linkedin"
        },
        {
          "value": "snapchat",
          "label": "t:options.snapchat"
        },
        {
          "value": "tumblr",
          "label": "t:options.tumblr"
        },
        {
          "value": "threads",
          "label": "t:options.threads"
        }
      ],
      "default": "tag"
    },
    {
      "type": "image_picker",
      "id": "image_upload",
      "label": "t:settings.image_icon"
    },
    {
      "type": "select",
      "id": "icon_size",
      "label": "t:settings.icon_size",
      "options": [
        {
          "value": "extra-small",
          "label": "t:options.extra_small"
        },
        {
          "value": "small",
          "label": "t:options.small"
        },
        {
          "value": "medium",
          "label": "t:options.medium"
        },
        {
          "value": "large",
          "label": "t:options.large"
        },
        {
          "value": "extra-large",
          "label": "t:options.extra_large"
        },
        {
          "value": "custom-size",
          "label": "t:options.custom"
        }
      ],
      "default": "extra-large"
    },
    {
      "type": "range",
      "id": "width",
      "label": "t:settings.width",
      "min": 12,
      "max": 200,
      "step": 2,
      "unit": "px",
      "default": 24,
      "visible_if": "{{ block.settings.icon_size == 'custom-size' }}"
    },
    {
      "type": "range",
      "id": "width_mobile",
      "label": "t:settings.width_mobile",
      "min": 12,
      "max": 200,
      "step": 2,
      "unit": "px",
      "default": 24,
      "visible_if": "{{ block.settings.icon_size == 'custom-size' }}"
    }
  ],
  "presets": [
    {
      "name": "t:names.icon",
      "category": "t:categories.basic",
      "settings": {
        "icon": "magic-wand"
      }
    }
  ]
}
{% endschema %}
