{%- if block.blocks.size > 0 -%}
  {% liquid
    assign horizontal_alignment = block.settings.horizontal_alignment_flex_direction_column
  %}
  {% capture styles %}
    {% render 'spacing-style', settings: block.settings %}
    {% render 'layout-panel-style', type: 'flex', content_direction: 'column', h_alignment: horizontal_alignment, v_alignment: 'flex-start' %}
  {% endcapture %}
  <div
    class="section-header-block spacing-style layout-panel-flex layout-panel-flex--column"
    style="{{ styles | strip | strip_newlines }}"
    {{ block.shopify_attributes }}
  >
    {%- content_for 'blocks' -%}
  </div>
{%- endif -%}

{% schema %}
{
  "name": "t:names.header",
  "tag": null,
  "blocks": [
    {
      "type": "text"
    },
    {
      "type": "button"
    },
    {
      "type": "image"
    }
  ],
  "settings": [
    {
      "type": "header",
      "content": "t:content.layout"
    },
    {
      "type": "select",
      "id": "horizontal_alignment_flex_direction_column",
      "label": "t:settings.alignment",
      "options": [
        {
          "value": "flex-start",
          "label": "t:options.left"
        },
        {
          "value": "center",
          "label": "t:options.center"
        },
        {
          "value": "flex-end",
          "label": "t:options.right"
        }
      ],
      "default": "flex-start"
    },
    {
      "type": "header",
      "content": "t:content.padding"
    },
    {
      "type": "select",
      "id": "device",
      "label": "t:settings.devices",
      "options": [
        {
          "value": "desktop",
          "label": "t:options.desktop"
        },
        {
          "value": "mobile",
          "label": "t:options.mobile"
        }
      ],
      "default": "desktop"
    },
    {
      "type": "range",
      "id": "padding-block-end",
      "label": "t:settings.bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 40,
      "visible_if": "{{ block.settings.device == 'desktop' }}"
    },
    {
      "type": "range",
      "id": "padding-block-end-mobile",
      "label": "t:settings.bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 24,
      "visible_if": "{{ block.settings.device == 'mobile' }}"
    }
  ],
  "presets": [
    {
      "name": "t:names.header",
      "blocks": {
        "subheading": {
          "type": "text",
          "name": "t:names.subheading",
          "settings": {
            "text": "<p>Add a tagline</p>",
            "highlight_style": "none",
            "highlight_font_style": "italic",
            "highlight_shape_color": "",
            "highlight_text_color": "",
            "type_preset": "text-subheading",
            "font": "var(--font-body--family)",
            "font_size": 15,
            "font_size_mobile": 15,
            "line_height": "normal",
            "text_color": "text",
            "width": "100%",
            "text_alignment": "left",
            "width_mobile": "100%",
            "text_alignment_mobile": "center",
            "padding-block-start": 0,
            "padding-block-end": 20,
            "padding-inline-start": 0,
            "padding-inline-end": 0,
            "mobile-padding-scale": 80,
            "animation_type": "none",
            "animation_delay": 250
          }
        },
        "heading": {
          "type": "text",
          "name": "t:names.heading",
          "settings": {
            "text": "<p>Talk about your brand</p>",
            "highlight_style": "wavy-underline",
            "highlight_font_style": "italic",
            "highlight_shape_color": "",
            "highlight_text_color": "",
            "type_preset": "custom",
            "font": "var(--font-heading--family)",
            "font_size": 68,
            "font_size_mobile": 38,
            "line_height": "loose",
            "text_color": "text",
            "width": "100%",
            "text_alignment": "left",
            "width_mobile": "100%",
            "text_alignment_mobile": "center",
            "padding-block-start": 0,
            "padding-block-end": 0,
            "padding-inline-start": 0,
            "padding-inline-end": 0,
            "mobile-padding-scale": 80,
            "animation_type": "none",
            "animation_delay": 250
          }
        },
        "text": {
          "type": "text",
          "settings": {
            "text": "<p>Share information about your brand with your customers. Describe a product, make announcements, or welcome customers to your store.</p>",
            "highlight_style": "none",
            "highlight_font_style": "italic",
            "highlight_shape_color": "",
            "highlight_text_color": "",
            "type_preset": "rte",
            "font": "var(--font-body--family)",
            "font_size": 15,
            "font_size_mobile": 15,
            "line_height": "normal",
            "text_color": "text",
            "width": "100%",
            "text_alignment": "left",
            "width_mobile": "100%",
            "text_alignment_mobile": "center",
            "padding-block-start": 24,
            "padding-block-end": 0,
            "padding-inline-start": 0,
            "padding-inline-end": 0,
            "mobile-padding-scale": 83,
            "animation_type": "none",
            "animation_delay": 250
          },
          "blocks": {}
        }
      },
      "block_order": ["subheading", "heading", "text"]
    }
  ]
}
{% endschema %}
